
/projects/ble/ble_peripheral/ble_app_uart/Keil_5/build/*
/projects/ble/ble_peripheral/ble_app_uart/Keil_5/Listings/*
/projects/ble/ble_peripheral/ble_app_uart/Keil_5/log_fw_encrypt_sign/*
/projects/ble/ble_peripheral/ble_app_uart/Keil_5/Objects/*
